{% extends 'base.html' %}

{% block content %}
<!-- Header End -->
<!-- Content -->
<div id="content">
  <div class="container">
    <div itemscope="" itemtype="http://schema.org/Organization">
      <span itemprop="name"> ООО Технологии механической обработки </span>
      </br>
      Контактная информация:

      <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
        Почтовый адрес:<br>

        ул. <span itemprop="streetAddress">Техническая, д. 8, кв. 105</span>,<br>
        <span itemprop="postalCode">180020</span>,<br>
        г. <span itemprop="addressLocality">Псков</span>,
      </div>

      Телефон:<span itemprop="telephone">+79113903182</span>,</br>
      E-mail: <span itemprop="email">info@machproc.ru</span></br>
      Сайт: <a itemprop="url" href="https://machproc.ru">machproc.ru</a>


      </br>
      Адрес производства:</br>
      <span itemprop="location">улица 128-й Стрелковой Дивизии,
        д. 36</span>
      <div itemprop="description">Механическая обработка деталей. Токарные, фрезерные, слесарные работы. Лазерная,
        плазменная резка листового металла.
        Инженерные работы - конструкторское проектирование,
        технологическое сопровождение.
      </div>
      </br>
      <b>Реквизиты:</b>
      <div>
        <p>ОГРН 1246000000663</p>
        <p>ИНН 6000007286</p>
        <p>КПП 600001001</p>
        <p>р/с 40702810510001576647 в АО “Тинькофф Банк”</p>
        <p>к/с 30101810145250000974</p>
      </div>


    </div>


  </div>
</div>
<!-- Content End -->
{% endblock %}