{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Header End -->
  <!-- Content -->
 
  <div id="content">
    <div class="container">

      

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/1.jpg"
         data-caption="Вал шлицевой DIN 5482"
         >
        <img src="/static/img/gallery/1.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/2.jpg"c
         data-caption="Вал шлицевой DIN 5482"
         >
        <img src="/static/img/gallery/2.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/3.jpg"
         data-caption="Вал шлицевой DIN 5482"
         >
        <img src="/static/img/gallery/3.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/4.jpg"
         data-caption="Измерение вылета инструмента на фрезерном станке с ЧПУ"
         >
        <img src="/static/img/gallery/4.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/5.jpg"
         data-caption="Проточка детали на токарном станке с ЧПУ"
         >
        <img src="/static/img/gallery/5.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/6.jpg"
         data-caption="Изготовление длинных тонких деталей из прутка с применением специальной оснастки - поводкового люнета"
         >
        <img src="/static/img/gallery/6.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/7.jpg"
         data-caption="Изготовление длинных тонких деталей из прутка с применением специальной оснастки - поводкового люнета"
         >
        <img src="/static/img/gallery/7.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/8.jpg"
         data-caption="Изготовление тонких деталей с применением специальной оснатски - люнета, устанавливаемого в задний центр"
         >
        <img src="/static/img/gallery/8.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/9.jpg"
         data-caption="Изготовление тонких деталей с применением сппециальной оснатски - люнета, устанавливаемого в задний центр"
         >
        <img src="/static/img/gallery/9.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/10.jpg"
         data-caption="Изготовление сложного профиля стандартным инструментом с применением параметрического программирования"
         >
        <img src="/static/img/gallery/10.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/11.jpg"
         data-caption="Готовая деталь типа червячный вал"
         >
        <img src="/static/img/gallery/11.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/12.jpg"
         data-caption="Готовая деталь типа червячный вал"
         >
        <img src="/static/img/gallery/12.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/13.jpg"
         data-caption="Готовая деталь шестерня червячная"
         >
        <img src="/static/img/gallery/13.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/14.jpg"
         data-caption="Готовая деталь шестерня червячная"
         >
        <img src="/static/img/gallery/14.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="/static/img/gallery/15.jpg"
         data-caption="Готовая пара червячная шестерня и вал"
         >
        <img src="/static/img/gallery/15.jpg" style="height: 200px; width: auto;"/>
      </a>
      <a
         data-fancybox="gallery"
         data-src="https://youtu.be/nGvjVHaIkE8?si=FGvAfG0XZa9A4azL"
         data-caption="Изготовление бесконечного винта на фрезерном станке с ЧПУ с поворотной осью"
         >
        <img src="/static/img/gallery/16.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="https://youtu.be/s3NN9NZ2lc8?si=EhALOfcfljme_2K3"
         data-caption="Изготовление лебуса с применением радиусного резца"
         >
        <img src="/static/img/gallery/17.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="https://youtu.be/JN4q32qvqkg?si=6IK_VtHZt0eqP-Iy"
         data-caption="Изготовление лебуса на фрезерном станке с ЧПУ с поворотной осью радиусной фрезой"
         >
        <img src="/static/img/gallery/18.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="https://youtu.be/WS_pRMZm8O0?si=VO82H4ONVtrZqPNl"
         data-caption="Изготовление лебуса на токарном станке с чпу стандартным канавочным резцом с радиусной пластиной"
         >
        <img src="/static/img/gallery/19.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="https://youtu.be/Zm9ApCtQYzA?si=kWHVP5iSZXN6VlOP"
         data-caption="Токарная и фрезерная операции на токаном станке с приводным инструментом"
         >
        <img src="/static/img/gallery/20.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="https://youtu.be/oXFYVf6P4sA?si=w3r5j_a_zCtr4p-2"
         data-caption="Точение тонких деталей с применением специальной оснастки - люнета, устанавливаемого в задний центр станка"
         >
        <img src="/static/img/gallery/8.jpg" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="https://youtu.be/HjagAv9dAIA?si=-f4I61o7pH-Va1B8"
         data-caption="Нарезка двухзаходного червячного вала с применением стандартного резца и параметрического программирования"
         >
        <img src="/static/img/gallery/10.JPG" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="https://youtu.be/Vc-WQDRUuKo?si=Z78H4OGnEUNJ59BG"
         data-caption="Изготовление вала с эвольвентными шлицами по DIN 5482 на фрезерном станке с ЧПУ с поворотной осью"
         >
        <img src="/static/img/gallery/1.JPG" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="https://youtu.be/YIbIpBgekRM?si=cdsBJjPTFxlSKp1N"
         data-caption="Изготовление червячного вала на токарном станке с ЧПУ стандартным резцом с применением параметрического программирования"
         >
        <img src="/static/img/gallery/11.JPG" style="height: 200px; width: auto;"/>
      </a>

      <a
         data-fancybox="gallery"
         data-src="https://youtu.be/Gpa7XSwo-ew?si=_MK9J9LfCnszzJ-j"
         data-caption="Изготовление червячной шестерни на фрезерном станке с ЧПУ с поворотной осью"
         >
        <img src="/static/img/gallery/21.JPG" style="height: 200px; width: auto;"/>
      </a>



    </div>
  </div>
  <!-- Content End -->
  {% endblock %}
  