{% extends 'base.html' %}

{% block content %}
  <!-- Header End -->
  <!-- Content -->
  <div id="content">
    <div class="container">
       <div class="f-center">
              <h2>ТехМех</h2>
              <div class="head-info">
                ООО Технологии механической обработки - предприятие, которое возьмет
                на себя реализацию ваших идей
            </div>  
       </div>
       <div class="f-hr"></div>
      <div class="row space40"></div>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <!-- Service Container --> 
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
              <!-- Service Icon --> 
              <div class="ic-1"><i class="icon-lightbulb"></i></div>
              <!-- Service Title --> 
              <div class="title-1"><h4>Инновационность</h4></div>
              <!-- Service Content --> 
              <div class="text-1"> 
                Наше предприятие оснащено высокоточным, высокотехнологичным оборудованием с числовым программным управлением.
              </div>
            </div>
            <!-- Service Container End --> 
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
              <div class="ic-1"><i class="icon-resize-small"></i></div>
              <div class="title-1"><h4>Технологичность</h4></div>
              <div class="text-1">         
                На предприятии работает команда специалистов высокой квалификации - технологов, конструкторов, программистов, что позволяет оптимизировать процессы
                подготовки производства и механической обработки деталей.
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
              <div class="ic-1"><i class="icon-eye-open"></i></div>
              <div class="title-1"><h4>Гибкость</h4></div>
              <div class="text-1">
                Работаем по чертежам, эскизам. При необходимости можем оказать услуги по разрабокте - конструктора, программиста ЧПУ, технолога.
              </div>
            </div>    
          </div>   
        </div>   
       
        <div class="col-12">
          <h2>Мы предоставляем полный цикл услуг по изготовлению деталей</h2>
        </div> 
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">      
          <!-- <img src="img/image01.png" alt="">-->

          <video width="100%" height="320" autoplay loop muted>
            <source src="/static/video/1.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <div class="ic-1"></div>
          <div class="title-1"><h4>Наши услуги:</h4></div>
          <!-- List -->
          <div class="text-1"> 
            <ul class="list-b">
              <!-- List Items -->
              <li><i class="icon-ok"></i> Токарные работ</li>
              <li><i class="icon-ok"></i> Фрезерные работы</li>
              <li><i class="icon-ok"></i> Слесарные работы</li>
              <li><i class="icon-ok"></i> Лазерная резка</li>
              <li><i class="icon-ok"></i> Гидроабразивная резка</li>
              <li><i class="icon-ok"></i> Разработка 3-D моделей</li>
              <li><i class="icon-ok"></i> Разработка управляющей программы для станков с ЧПУ</li>
            </ul>     
          </div>
          <!-- List End -->
        </div>
               
      </div>

      <div class="space40"></div>  
              
      <!-- Our Clients -->
      <!--<div class="row">
        <div class="col-12">
          <h3>Our Clients</h3>
        </div>
      </div> 
    
      <div id="our-clients" class="slider2 flexslider">
        <ul class="slides">
          <li>
            <div class="row">
              <div class="col-2">
                <a href="#" rel="external">
                    <img src="img/our-clients/1.png" alt="">
                </a>
              </div>
              <div class="col-2">
                <a href="#" rel="external">
                    <img src="img/our-clients/2.png" alt="">
                </a>
              </div>
              <div class="col-2">
                <a href="#" rel="external">
                    <img src="img/our-clients/3.png" alt="">
                </a>
              </div>
              <div class="col-2">
                <a href="#" rel="external">
                    <img src="img/our-clients/4.png" alt="">
                </a>
              </div>
              <div class="col-2">
                <a href="#" rel="external">
                    <img src="img/our-clients/5.png" alt="">
                </a>
              </div>
              <div class="col-2">
                <a href="#" rel="external">
                    <img src="img/our-clients/6.png" alt="">
                </a>
              </div>
            </div>  
          </li>
          <li>
            <div class="row">
              <div class="col-2">
                <a href="#" rel="external">
                    <img src="img/our-clients/4.png" alt="">
                </a>
              </div>
              <div class="col-2">
                <a href="#" rel="external">
                    <img src="img/our-clients/3.png" alt="">
                </a>
              </div>
              <div class="span2">
                <a href="#" rel="external">
                    <img src="img/our-clients/1.png" alt="">
                </a>
              </div>
              <div class="col-2">
                <a href="#" rel="external">
                    <img src="img/our-clients/2.png" alt="">
                </a>
              </div>
              <div class="col-2">
                <a href="#" rel="external">
                    <img src="img/our-clients/5.png" alt="">
                </a>
              </div>
              <div class="col-2">
                <a href="#" rel="external">
                    <img src="img/our-clients/6.png" alt="">
                </a>
              </div>
            </div>  
          </li>
        </ul>
      </div> 
    -->
      <!-- Our Clients End -->
      
      <div class="space50"></div> 
       
    </div>
  </div>
  <!-- Content End -->
  {% endblock %}
  